@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html,
* body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}
* html main,
* body main {
  display: flex;
  height: 100%;
}
* html .wrapper-dark,
* html .wrapper-light,
* body .wrapper-dark,
* body .wrapper-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100%;
  width: 100%;
}
* html .wrapper-dark .main-content,
* html .wrapper-light .main-content,
* body .wrapper-dark .main-content,
* body .wrapper-light .main-content {
  background-color: #464646;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  border-radius: 8px;
  background: #464646;
  /* dropdown */
  box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
}
* html .wrapper-dark .month,
* html .wrapper-light .month,
* body .wrapper-dark .month,
* body .wrapper-light .month {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* H5 */
}
* html .wrapper-dark .month h3,
* html .wrapper-light .month h3,
* body .wrapper-dark .month h3,
* body .wrapper-light .month h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
* html .wrapper-dark .weekdays,
* html .wrapper-light .weekdays,
* body .wrapper-dark .weekdays,
* body .wrapper-light .weekdays {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
* html .wrapper-dark .weekdays div,
* html .wrapper-light .weekdays div,
* body .wrapper-dark .weekdays div,
* body .wrapper-light .weekdays div {
  display: flex;
  width: 30px;
  height: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
* html .wrapper-dark .weekdays div p,
* html .wrapper-light .weekdays div p,
* body .wrapper-dark .weekdays div p,
* body .wrapper-light .weekdays div p {
  color: var(--Base-Gray-40, #B5BEC6);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Overline */
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  /* 120% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
* html .wrapper-dark .days,
* html .wrapper-light .days,
* body .wrapper-dark .days,
* body .wrapper-light .days {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  color: white;
  text-align: center;
  font-size: 26px;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
* html .wrapper-dark .days div,
* html .wrapper-light .days div,
* body .wrapper-dark .days div,
* body .wrapper-light .days div {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* H4 */
  /* 112.5% */
}
* html .wrapper-dark .days div h4,
* html .wrapper-light .days div h4,
* body .wrapper-dark .days div h4,
* body .wrapper-light .days div h4 {
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  width: 20px;
  height: 15px;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
* html .wrapper-dark .days .active,
* html .wrapper-light .days .active,
* body .wrapper-dark .days .active,
* body .wrapper-light .days .active {
  background-color: #f04d23;
  border-radius: 50%;
}
* html .wrapper-light,
* body .wrapper-light {
  background-color: #fff;
  color: #333;
}
* html .wrapper-light .main-content,
* body .wrapper-light .main-content {
  background-color: white;
  box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
}
* html .wrapper-light .month,
* html .wrapper-light .weekdays,
* html .wrapper-light .days,
* body .wrapper-light .month,
* body .wrapper-light .weekdays,
* body .wrapper-light .days {
  color: #333;
}

@media only screen and (max-width: 670px) {
  * html main,
  * body main {
    display: block;
  }
}/*# sourceMappingURL=calender-layout-1-style.css.map */