@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    html,
    body {
        height: 100vh;
        width: 100vw;
        font-family: 'Montserrat', sans-serif;

        main {
            display: flex;

            div {
                flex: 1;
            }
        }

        .light {
            position: relative;

            div {
                position: absolute;
                bottom: 12%;
                left: 10%;
                font-style: normal;
                font-weight: 600;
                line-height: 14px;
                font-feature-settings: 'clig' off, 'liga' off;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 19px;

                h1 {
                    color: #383838;
                    font-size: 28px;

                    /* 50% */
                }

                h3 {
                    color: #BABABA;
                    font-size: 21px;
                    /* 66.667% */
                }
            }
        }

        .dark {
            background-color: #333;
            height: 100vh;
            position: relative;
        }

        .calender-dark,
        .calender-light {
            height: 50vh;
            flex-shrink: 0;


            .main-content {
                background-color: #464646;
                display: inline-flex;
                transform: rotate(8.683deg);
                padding: 24px;
                flex-direction: column;
                align-items: flex-start;
                gap: 22px;
                border-radius: 8px;
                background: #464646;

                /* dropdown */
                box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
            }

            .month {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;

                color: #FFF;
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;

                /* H5 */
                h3 {

                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 14px;
                }
            }

            .weekdays {
                display: flex;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                div {
                    display: flex;
                    width: 30px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    p {
                        color: var(--Base-Gray-40, #B5BEC6);
                        text-align: center;
                        font-feature-settings: 'clig' off,
                            'liga' off;

                        /* Overline */
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 12px;
                        /* 120% */
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                    }
                }
            }

            .days {
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-template-columns: repeat(7, 1fr);
                color: white;
                text-align: center;
                font-size: 26px;
                height: 100%;
                width: 100%;

                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                div {
                    // padding: 32px 0;

                    display: flex;
                    width: 30px;
                    height: 30px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    /* H4 */
                    h4 {

                        // color: #FFF;
                        text-align: center;
                        font-feature-settings: 'clig' off, 'liga' off;
                        width: 20px;
                        height: 15px;
                        flex-shrink: 0;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 18px;
                    }

                    /* 112.5% */
                }

                .active {
                    background-color: #f04d23;
                    border-radius: 50%;
                }
            }
        }

        .calender-light {
            color: #333;

            .main-content {
                background-color: white;
                box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
            }

            .month,
            .weekdays,
            .days {
                color: #333;
            }
        }

        .calender-dark {
            position: absolute;
            top: 44%;
            left: -9%;
        }

        .calender-light {
            position: absolute;
            top: 21%;
            left: -27%;
            z-index: 1;
        }
    }
}

@media only screen and (max-width: 850px) {
    * {

        html,
        body {

            .calender-dark {
                top: 44%;
                left: -24%;
            }

            .calender-light {
                top: 21%;
                left: -48%;
            }

            .light {
                div {
                    h1 {
                        font-size: 4vw;
                    }

                    h3 {
                        font-size: 2vw;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 700px) {
    * {

        html,
        body {

            .calender-dark {
                top: 44%;
                left: -29%;
            }

            .calender-light {
                top: 21%;
                left: -58%;
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    * {

        html,
        body {

            .calender-dark,
            .calender-light {
                display: none;
            }
        }
    }
}