@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: avenir;
  src: url("font.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* html,
* body {
  height: 100vh;
  width: 100vw;
  font-family: avenir;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
}
* html main,
* body main {
  display: flex;
  height: 100%;
}
* html .wrapper-dark,
* html .wrapper-light,
* body .wrapper-dark,
* body .wrapper-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100%;
  width: 100%;
}
* html .wrapper-dark .main-content,
* html .wrapper-light .main-content,
* body .wrapper-dark .main-content,
* body .wrapper-light .main-content {
  background-color: #464646;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 22px;
  border-radius: 8px;
  background: #464646;
  box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
}
* html .wrapper-dark .month,
* html .wrapper-light .month,
* body .wrapper-dark .month,
* body .wrapper-light .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  font-size: 14px;
  line-height: 14px;
}
* html .wrapper-dark .month .dark-arrow,
* html .wrapper-light .month .dark-arrow,
* body .wrapper-dark .month .dark-arrow,
* body .wrapper-light .month .dark-arrow {
  color: #B5BEC6;
  font-size: 10px;
}
* html .wrapper-dark .month .light-arrow,
* html .wrapper-light .month .light-arrow,
* body .wrapper-dark .month .light-arrow,
* body .wrapper-light .month .light-arrow {
  color: #B5BEC6;
  font-size: 10px;
}
* html .wrapper-dark .weekdays,
* html .wrapper-light .weekdays,
* body .wrapper-dark .weekdays,
* body .wrapper-light .weekdays {
  display: flex;
  justify-content: center;
  gap: 10px;
}
* html .wrapper-dark .weekdays span,
* html .wrapper-light .weekdays span,
* body .wrapper-dark .weekdays span,
* body .wrapper-light .weekdays span {
  color: #B5BEC6;
  width: 30px;
  align-self: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
* html .wrapper-dark .days,
* html .wrapper-light .days,
* body .wrapper-dark .days,
* body .wrapper-light .days {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  color: #fff;
  text-align: center;
  font-size: 26px;
  height: 100%;
  width: 100%;
  gap: 10px;
  align-items: center;
}
* html .wrapper-dark .days span,
* html .wrapper-light .days span,
* body .wrapper-dark .days span,
* body .wrapper-light .days span {
  font-size: 16px;
  font-weight: 600;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
* html .wrapper-dark .days .active,
* html .wrapper-light .days .active,
* body .wrapper-dark .days .active,
* body .wrapper-light .days .active {
  background-color: #f04d23;
  border-radius: 50%;
  color: #fff;
}
* html .wrapper-light,
* body .wrapper-light {
  background-color: #fff;
  color: #333;
}
* html .wrapper-light .main-content,
* body .wrapper-light .main-content {
  background-color: #fff;
  box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
}
* html .wrapper-light .month,
* body .wrapper-light .month {
  color: #4A5660;
}
* html .wrapper-light .days,
* body .wrapper-light .days {
  color: #4A5660;
}

@media only screen and (max-width: 670px) {
  * html main,
  * body main {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */